body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("bank.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    /* background:rgba(0, 0, 0, 0.211); */
    opacity:3.0;
}

.img{
    background:black;
    opacity:1;
}

.logo{
	width: 100px;
	cursor: pointer;
}

.content{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
}

h1{
    font-family:'Times New Roman', Times, serif ;
    font-size: 70px;
    font-weight: 200;
    font-style: inherit;
    color:rgba(247, 247, 247, 0.906);
    text-align: center;
	margin-top: 100px;
}


